@tailwind base;
@tailwind components;
@tailwind utilities;

.form-wrapper{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 50px;
  margin-left: 30%;
}

.form-send-message{
  padding: 15px;
}
button{
  padding: 15px;
}